.slider {
    padding-top: 51px;
    padding-bottom: 65px;
    img {
        border-radius: 100%;
        max-height: 114px;
        object-fit: cover;
    }
    &__subtitle {
        margin-top: 17px;
        text-align: center;
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        color: #2e2e2e;
    }
    &__name {
        margin-top: 19px;
        font-size: 18px;
        font-weight: bold;
        color: #3a3a3a;
    }
    &__descr {
        margin: 15px 0 0 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #3a3a3a;
    }
    .swiper {
        position: relative;
        margin-top: 31px;
        max-width: 1400px;
        user-select: none;
        &-slide {
            text-align: center;
            opacity: 0.3;
            transform: scale(0.8);
            transition: all .5s ease;
            &-next {
                opacity: 1;
                transform: scale(1);
            }
        }
        &-button-prev, &-button-next {
            position: absolute;
            top: 15px;
            font-size: 64px;
            color: $main-color;
            cursor: pointer;
            z-index: 20;
            transition: all .5s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
        &-button-prev {
            left: 42%;
        }
        &-button-next {
            right: 42%;
        }
    }
}