@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        padding-bottom: 82px;
        &__button {
            display: none;
        }
        &__about-item {
            width: 230px;
        }
    }
    .price {
        &__item {
            max-width: 230px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .burger {
        display: flex;
    }
    .promo {
        &__menu {
            display: none;
        }
        &__contact {
            padding-right: 30px;
        }
        &__companytitle {
            margin-top: 30px;
            font-size: 20px;
        }
        &__title {
            font-size: 34px;
            margin-top: 10px;
        }
        &__subtitle {
            font-size: 28px;
        }
        &__line:before, &__line:after {
            width: 35vw;
        }
        &__about {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }
    }
    .price {
        &__item {
            max-width: 260px;
        }
        &__form {
            flex-direction: column;
            align-items: center;
        }
    }
    .slider {
        .swiper {
            &-slide {
                &-next {
                    opacity: 0.3;
                    transform: scale(0.8);
                }
                &-active {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            &-button-prev {
                left: 35%;
            }
            &-button-next {
                right: 35%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__companytitle {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__about-text {
            font-size: 14px;
        }
    }
    .ourWork {
        &__subtitle {
            width: 100%;
            margin: 17px 0 0 0;
            text-align: center;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }
    .title {
        line-height: 34px;
    }
    .promo {
        &__contact {
            align-self: flex-end;
        }
        &__companytitle {
            font-size: 16px;
        }
        &__title {
            margin-top: 30px;
            font-size: 28px;
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 18px;
        }
        &__about {
            padding: 0 10px;
            &-item {
                width: 180px;
            }
            &-text {
                font-size: 12px;
            }
        }
    }
    .advantages {
        &__content {
            grid-template-columns: 1fr;
            padding: 0 5px;
        }
    }
    .ourWork {
        &__subtitle {
            font-size: 16px;
        }
    }
    .agent {
        &__text {
            font-size: 14px;
        }
    }
    .price {
        &__descr {
            font-size: 16px;
        }
        &__content {
            justify-content: center;
            column-gap: 5px;
        }
        &__form {
            width: 90%;
            margin: 85px auto 0 auto;
            padding: 60px 5px;
            &-input {
                width: calc(100% - 56px);
            }
        }
    }
    .slider {
        .swiper {
            &-button-prev {
                left: 20%;
            }
            &-button-next {
                right: 20%;
            }
        }
    }
}