// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";


// Основное
@import "base/fonts";
@import "base/general";
@import "base/buttons";
@import "base/title";

// БЭМ-блоки
@import "../blocks/modules";

.map {
    &__yandex {
        width: 100%;
        height: 500px;
        border: none;
    }
}

@import "media";