.advantages {
    padding-top: 58px;
    padding-bottom: 51px;
    background-color: #f3f3f3;
    &__content {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 37px;
    }
    &__item {
        display: flex;
    }
    &__img {
        margin-right: 20px;
        img {
            width: 57px;
            object-fit: cover;
        }
    }
    &__name {
        color: $main-color;
        font-size: 16px;
        font-weight: bold;
    }
    &__text {
        margin: 16px 0 0 0;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}